html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: black;
    align-items: center;
    padding: 0 20px;
}


/* Start Header CSS */

.inner__menu {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
   
    
}

.inner__menu-list a {
    color: white;
    text-decoration: none;
    font-size: 40px;
}

.inner__menu-button button {
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.header__inner-items {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    align-items: center;


 
}

.inner__items-text {

    text-align: center;
    color: white;
    font-size: 24px;
    max-width: 500px;
  
}


.inner__items-img img {
    width: 500px;
    height: 500px;
    border-bottom: solid 50px #FFF;
    border-radius: 20px;

}

/* End Header CSS */

/* Start BIO CSS */

.bio__inner {

    display: flex;
    justify-content: space-around;
    margin-top: 400px;
    margin-bottom: 50px;
    align-items: center;

}

.bio__inner-items-text {

    text-align: center;
    color: white;
    font-size: 24px;
    max-width: 500px;

}

.bio__inner-items-img img {

    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: solid 5px rgb(255, 123, 0);
}

/* End BIO CSS */

/* Start LINKS CSS */

.links {
    color: #FFF;
}

.links__inner-list {
    display: flex;
    justify-content: space-between;
}

.links__inner-list-name {

    display: inline-block;
    

}

.links__inner-list-description {

    display: inline-block;

}

.links__inner-list-arrows {

    display: inline-block;

}

.links__name, .links__description {
    list-style-type: none;
}


/* End LINKS CSS */