html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: black;
    align-items: center;
    padding: 0 20px;
}

.inner__menu {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
   
    
}

.inner__menu-list a {
    color: white;
    text-decoration: none;
    font-size: 40px;
}

.inner__menu-button button {
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.header__inner-items {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    align-items: center;


 
}

.inner__items-text {

    text-align: center;
    color: white;
    font-size: 24px;
    max-width: 500px;
  
}


.inner__items-img img {
    width: 500px;
    height: 500px;
    border-bottom: solid 50px #FFF;
    border-radius: 20px;


}
